In [2]:
'''
Q1.Create one variable containing following type of data.
 (i) string (ii)list (iii)float (iv)tuple
 '''

'\nQ1.Create one variable containing following type of data.\n (i) string (ii)list (iii)float (iv)tuple\n '

In [3]:
a = "pragya"
print (a)

pragya

In [4]:
l =[2,25,"abc"]
print (l)

[2, 25, 'abc']

In [5]:
p =2.5 
print(p)

2.5

In [6]:
T =(55,44,9,6,"xyz")
print(T)

(55, 44, 9, 6, 'xyz')

In [7]:
'''
Q2.Given are some following variables containing data:
(i)var1=' '
(ii)var2='['DS','ML','Python']'
(iii)var3=['DS','ML','Python']
(iv)var4=1.

'''

"\nQ2.Given are some following variables containing data:\n(i)var1=' '\n(ii)var2='['DS','ML','Python']'\n(iii)var3=['DS','ML','Python']\n(iv)var4=1.\n\n"

In [8]:
var1=' '

In [9]:
type(var1)

str

In [10]:
var2 = '["DS","ML","Python"]'

In [11]:
type(var2)

str

In [12]:
var3 = ['DS','ML','Python']

In [13]:
type(var3)

list

In [14]:
var4 = 1.

In [15]:
type(var4)

float

In [16]:
'''
Q3.#Q2.Explain the use of the following operators using an example:
(i)/
(ii)%
(iii)//
(iv)** 
'''

'\nQ3.#Q2.Explain the use of the following operators using an example:\n(i)/\n(ii)%\n(iii)//\n(iv)** \n'

In [17]:
a = 5
b = 2
c = a/b
print(c)

2.5

In [18]:
x = 8
y = 4
z = x%y
print(z)

0

In [19]:
a = 5
b = 2
c = a//b
print(c)

2

In [20]:
a = 10
b = 4
c = a**b
print(c)

10000

In [21]:
'''
Q4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
'''

'\nQ4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the\nelement and its data type.\n'

In [22]:
a = [1 , 2, 3]
b = ["one" , "two", "three"]

for i in range(len(a)):
 print(a[i], b[i])

1 one
2 two
3 three

In [ ]:
'''
Q5.Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
'''

In [2]:
A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))

count = 0

while A % B == 0:
    
    count += 1
    A /= B

if count > 0:
    print(f"{A} is divisible by {B} {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

Enter the dividend (A):  10
Enter the divisor (B):  2

5.0 is divisible by 2 1 times.

In [ ]:
'''
Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
'''

In [ ]:

numbers = [i for i in range(1, 26)]

for num in numbers:
    
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

In [ ]:
'''
Q7.What do you understand about mutable and immutable data types? Give examples for both showing
this property.
'''

In [ ]:
'''
Mutable:-Mutable objects are those that allow you to change their value or data in place without affecting the object’s identity. 
         Example:-
        l = [2,3,5,55,"fsd",3+5j,True,56+98]
         hence we can change the value because list is mutable object.
Immutable:-Immutable objects don’t allow this kind of operation. You’ll just have the option of creating new objects of the same type with different values.
        Example:-
        s = "pragya"
        s[5]
        a
        s[5] = "d"
    hence it will not change their value because string is immutable object.
'''

In [ ]:
'''Example of mutable'''

In [4]:
l = [2,3,5,55,"fsd",3+5j,True,56+98]

In [6]:
type(l)

list

In [7]:
l[-2]

True

In [8]:
l[3]

55

In [9]:
l[3] = 800

In [10]:
l

[2, 3, 5, 800, 'fsd', (3+5j), True, 154]

In [ ]:
'''example of immutable'''

In [1]:
s = "pragya"

In [2]:
s[5]

'a'

In [3]:
s[5] = "d"

TypeError: 'str' object does not support item assignment